# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore Terraform provider binaries (downloaded plugins)
terraform/.terraform/


# Python
__pycache__/
*.pyc

# General
.DS_Store
